<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyf.marriage.mapper.AccountInfoDetailMapper" >
  <resultMap id="BaseResultMap" type="com.tyyf.marriage.entity.AccountInfoDetail" >
    <id column="uuid_customer" property="uuidCustomer" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="VARCHAR" />
    <result column="single_status" property="singleStatus" jdbcType="VARCHAR" />
    <result column="child_status" property="childStatus" jdbcType="INTEGER" />
    <result column="house_status" property="houseStatus" jdbcType="VARCHAR" />
    <result column="car_status" property="carStatus" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="working_city" property="workingCity" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="domicile" property="domicile" jdbcType="VARCHAR" />
    <result column="delete_type" property="deleteType" jdbcType="INTEGER" />
    <result column="create_persion" property="createPersion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_persion" property="updatePersion" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid_customer, real_name, nick_name, gender, age, height, weight, education, salary, 
    single_status, child_status, house_status, car_status, introduction, working_city, 
    occupation, hobby, domicile, delete_type, create_persion, create_time, update_persion, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from account_info_detail
    where uuid_customer = #{uuidCustomer,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account_info_detail
    where uuid_customer = #{uuidCustomer,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tyyf.marriage.entity.AccountInfoDetail" >
    insert into account_info_detail (uuid_customer, real_name, nick_name, 
      gender, age, height, 
      weight, education, salary, 
      single_status, child_status, house_status, 
      car_status, introduction, working_city, 
      occupation, hobby, domicile, 
      delete_type, create_persion, create_time, 
      update_persion, update_time)
    values (#{uuidCustomer,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{education,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, 
      #{singleStatus,jdbcType=VARCHAR}, #{childStatus,jdbcType=INTEGER}, #{houseStatus,jdbcType=VARCHAR}, 
      #{carStatus,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{workingCity,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, #{domicile,jdbcType=VARCHAR}, 
      #{deleteType,jdbcType=INTEGER}, #{createPersion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatePersion,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tyyf.marriage.entity.AccountInfoDetail" >
    insert into account_info_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuidCustomer != null" >
        uuid_customer,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="singleStatus != null" >
        single_status,
      </if>
      <if test="childStatus != null" >
        child_status,
      </if>
      <if test="houseStatus != null" >
        house_status,
      </if>
      <if test="carStatus != null" >
        car_status,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="workingCity != null" >
        working_city,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="domicile != null" >
        domicile,
      </if>
      <if test="deleteType != null" >
        delete_type,
      </if>
      <if test="createPersion != null" >
        create_persion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatePersion != null" >
        update_persion,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuidCustomer != null" >
        #{uuidCustomer,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="singleStatus != null" >
        #{singleStatus,jdbcType=VARCHAR},
      </if>
      <if test="childStatus != null" >
        #{childStatus,jdbcType=INTEGER},
      </if>
      <if test="houseStatus != null" >
        #{houseStatus,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null" >
        #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="workingCity != null" >
        #{workingCity,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null" >
        #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createPersion != null" >
        #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyyf.marriage.entity.AccountInfoDetail" >
    update account_info_detail
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="singleStatus != null" >
        single_status = #{singleStatus,jdbcType=VARCHAR},
      </if>
      <if test="childStatus != null" >
        child_status = #{childStatus,jdbcType=INTEGER},
      </if>
      <if test="houseStatus != null" >
        house_status = #{houseStatus,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null" >
        car_status = #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="workingCity != null" >
        working_city = #{workingCity,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null" >
        domicile = #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        delete_type = #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createPersion != null" >
        create_persion = #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        update_persion = #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid_customer = #{uuidCustomer,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyyf.marriage.entity.AccountInfoDetail" >
    update account_info_detail
    set real_name = #{realName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      education = #{education,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      single_status = #{singleStatus,jdbcType=VARCHAR},
      child_status = #{childStatus,jdbcType=INTEGER},
      house_status = #{houseStatus,jdbcType=VARCHAR},
      car_status = #{carStatus,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      working_city = #{workingCity,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      domicile = #{domicile,jdbcType=VARCHAR},
      delete_type = #{deleteType,jdbcType=INTEGER},
      create_persion = #{createPersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_persion = #{updatePersion,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uuid_customer = #{uuidCustomer,jdbcType=VARCHAR}
  </update>
</mapper>