<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyf.marriage.mapper.CustomerAccountMapper" >
  <resultMap id="BaseResultMap" type="com.tyyf.marriage.entity.CustomerAccount" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="wechat_account" property="wechatAccount" jdbcType="VARCHAR" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="INTEGER" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="recommend_persion" property="recommendPersion" jdbcType="VARCHAR" />
    <result column="delete_type" property="deleteType" jdbcType="INTEGER" />
    <result column="create_persion" property="createPersion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_persion" property="updatePersion" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, mobile, email, password, wechat_account, alipay_account, account_type, login_time, 
    recommend_persion, delete_type, create_persion, create_time, update_persion, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customer_account
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customer_account
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tyyf.marriage.entity.CustomerAccount" >
    insert into customer_account (uuid, mobile, email, 
      password, wechat_account, alipay_account, 
      account_type, login_time, recommend_persion, 
      delete_type, create_persion, create_time, 
      update_persion, update_time)
    values (#{uuid,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{wechatAccount,jdbcType=VARCHAR}, #{alipayAccount,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{recommendPersion,jdbcType=VARCHAR}, 
      #{deleteType,jdbcType=INTEGER}, #{createPersion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatePersion,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tyyf.marriage.entity.CustomerAccount" >
    insert into customer_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="wechatAccount != null" >
        wechat_account,
      </if>
      <if test="alipayAccount != null" >
        alipay_account,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="recommendPersion != null" >
        recommend_persion,
      </if>
      <if test="deleteType != null" >
        delete_type,
      </if>
      <if test="createPersion != null" >
        create_persion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatePersion != null" >
        update_persion,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccount != null" >
        #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendPersion != null" >
        #{recommendPersion,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createPersion != null" >
        #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyyf.marriage.entity.CustomerAccount" >
    update customer_account
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccount != null" >
        wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendPersion != null" >
        recommend_persion = #{recommendPersion,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        delete_type = #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createPersion != null" >
        create_persion = #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        update_persion = #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyyf.marriage.entity.CustomerAccount" >
    update customer_account
    set mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      recommend_persion = #{recommendPersion,jdbcType=VARCHAR},
      delete_type = #{deleteType,jdbcType=INTEGER},
      create_persion = #{createPersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_persion = #{updatePersion,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <!-- 获取用户列表 -->
  <select id="findUserByPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
      uuid, mobile, email, wechat_account, alipay_account, account_type, login_time, 
      recommend_persion, create_persion, create_time, update_persion, update_time
    FROM customer_account
    WHERE delete_type = 0
  </select>
  <!-- 查询手机号是否已被注册 -->
  <select id="checkMobileExist" resultType="java.lang.Integer" parameterType="java.lang.String" >
    SELECT 
      count(0)
    FROM customer_account
    WHERE mobile = #{mobile,jdbcType=VARCHAR}
  </select>
</mapper>