<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyf.marriage.mapper.OrderInformationMapper" >
  <resultMap id="BaseResultMap" type="com.tyyf.marriage.entity.OrderInformation" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="uuid_salesman" property="uuidSalesman" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="create_persion" property="createPersion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_persion" property="updatePersion" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_type" property="deleteType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, amount, order_type, uuid_salesman, channel, create_persion, create_time, update_persion, 
    update_time, delete_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_information
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_information
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tyyf.marriage.entity.OrderInformation" >
    insert into order_information (uuid, amount, order_type, 
      uuid_salesman, channel, create_persion, 
      create_time, update_persion, update_time, 
      delete_type)
    values (#{uuid,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{orderType,jdbcType=INTEGER}, 
      #{uuidSalesman,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{createPersion,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updatePersion,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tyyf.marriage.entity.OrderInformation" >
    insert into order_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="uuidSalesman != null" >
        uuid_salesman,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="createPersion != null" >
        create_persion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatePersion != null" >
        update_persion,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteType != null" >
        delete_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="uuidSalesman != null" >
        #{uuidSalesman,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createPersion != null" >
        #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteType != null" >
        #{deleteType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyyf.marriage.entity.OrderInformation" >
    update order_information
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="uuidSalesman != null" >
        uuid_salesman = #{uuidSalesman,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createPersion != null" >
        create_persion = #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePersion != null" >
        update_persion = #{updatePersion,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteType != null" >
        delete_type = #{deleteType,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyyf.marriage.entity.OrderInformation" >
    update order_information
    set amount = #{amount,jdbcType=DECIMAL},
      order_type = #{orderType,jdbcType=INTEGER},
      uuid_salesman = #{uuidSalesman,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      create_persion = #{createPersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_persion = #{updatePersion,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_type = #{deleteType,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <!-- 分页查询订单列表 -->
  <select id="findOrderByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_information
  </select>
</mapper>